<template>
  <q-page class="flex flex-center">
    <form @submit.prevent='Personajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Selecciona una opción'
        :options="entitySelectOptions"
      />
      <q-input v-model="query" />
      <q-btn label='Buscar' color='black' @click='Personajes ()'/>
      <div v-if='items.length > 0'>
        <q-card style="float: left" color="deep-orange-4" v-for='(item,index) in items' :key='index'>
          <q-card-title>
            <span>Nombre: </span> <span style="color: black"> {{ item.name }} </span>
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            <img class='character__image' :src="item.image">
            <p> <span>Estado: </span> <span style="color: black">{{ item.status }} </span> </p>
            <p> <span>Especie: </span> <span style="color: black"> {{ item.species }} </span> </p>
            <p> <span>Genero: </span> <span style="color: black"> {{ item.gender }} </span> </p>
            <p> <span>Origen: </span> <span style="color: black"> {{ item.origin.name }} </span> </p>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
  body{
    background-image: url('https://d1dxvryen9goi5.cloudfront.net/wp-content/uploads/2019/03/svi1cnw6bjhzlao7jogb.jpg');
  }
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'characters',
      entitySelectOptions: [
        {
          label: 'Personajes',
          value: 'character'
        },
        {
          label: 'Episodio(s)',
          value: 'episode'
        },
        {
          label: 'Localización',
          value: 'location'
        }

      ]
    }
  },
  methods: {
    Personajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://rickandmortyapi.com/api/' + entity + '/?name=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch(() => {
          console.log('Inside error, fetching product line items failed')
        })
    }
  }
}
</script>
